[submodule "import/ChibiOS"]
	path = import/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "import/ChibiOS-Contrib"]
	path = import/ChibiOS-Contrib
	url = https://github.com/akielaries/ChibiOS-Contrib.git
	branch = signalmesh
