// 27 MHz system clock (bank 7)
IO_LOC  "HCLK" 4;
IO_PORT "HCLK" PULL_MODE=NONE;

// S1 reset button (active high; board has external 1k pull-down R6)
IO_LOC  "HRST" 88;
IO_PORT "HRST" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// 6 user leds (bank 6)
IO_LOC  "LED[5]" 20;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "LED[4]" 19;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "LED[3]" 18;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "LED[2]" 17;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "LED[1]" 16;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "LED[0]" 15;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
