# crystal IN (XTAL_IN)
IO_LOC  "bank1_3v3_xtal_in" 52;
IO_PORT "bank1_3v3_xtal_in" PULL_MODE=UP DRIVE=24 IO_TYPE=LVCMOS33;
#IO_LOC "bank1_3v3_xtal_route" 31;
#IO_PORT "bank1_3v3_xtal_route" DRIVE=24;

# constraints for the dual PLL outputs
IO_LOC "bank2_3v3_pll_clk1" 28;
IO_PORT "bank2_3v3_pll_clk1" DRIVE=24;
IO_LOC "bank2_3v3_pll_clk2" 38;
IO_PORT "bank2_3v3_pll_clk2" DRIVE=24;

# Constraints for PLL lock status
IO_LOC "locked_84mhz" 10; # Map to bank3_1v8_led[0]
IO_PORT "locked_84mhz" DRIVE=24;
IO_LOC "locked_248mhz" 11; # Map to bank3_1v8_led[1]
IO_PORT "locked_248mhz" DRIVE=24;

#IO_LOC "clk_div_out" 38;
#IO_PORT "clk_div_out" DRIVE=24 IO_TYPE=LVCMOS33;

#IO_LOC "bank2_3v3_waveform" 37;

# on board button
IO_LOC "bank3_1v8_btn1" 3;

# system reset
IO_LOC "bank3_1v8_sys_rst" 4;
IO_PORT "bank3_1v8_sys_rst" PULL_MODE=UP;

# on board LEDs
IO_LOC "bank3_1v8_led[0]" 10;
IO_LOC "bank3_1v8_led[1]" 11;
IO_LOC "bank3_1v8_led[2]" 13;
IO_LOC "bank3_1v8_led[3]" 14;
IO_LOC "bank3_1v8_led[4]" 15;
IO_LOC "bank3_1v8_led[5]" 16;

# off board LED on GPIO 27
IO_LOC  "bank2_3v3_red_led" 27;
IO_PORT "bank2_3v3_red_led" PULL_MODE=UP DRIVE=8;

# on board SPI flash
IO_LOC  "bank1_3v3_flash_miso" 62;
IO_PORT "bank1_3v3_flash_miso" PULL_MODE=UP DRIVE=8;
IO_LOC  "bank1_3v3_flash_mosi" 61;
IO_PORT "bank1_3v3_flash_mosi" PULL_MODE=UP DRIVE=8;
IO_LOC  "bank1_3v3_flash_cs" 60;
IO_PORT "bank1_3v3_flash_cs" PULL_MODE=UP DRIVE=8;
IO_LOC  "bank1_3v3_flash_clk" 59;
IO_PORT "bank1_3v3_flash_clk" PULL_MODE=UP DRIVE=8;

# UART debug port
IO_LOC  "bank2_3v3_uart_tx" 25;
IO_PORT "bank2_3v3_uart_tx" IO_TYPE=LVCMOS33;
IO_LOC  "bank2_3v3_uart_rx" 26;
IO_PORT "bank2_3v3_uart_rx" IO_TYPE=LVCMOS33;

